.DS_Store
__pycache__/
.env
.claude/

# Log files
logs/
*.log
results/
result/
eval_locomo.py
eval.py
chroma_db_data/
locomo_batch_results.json
locomo_batch_results_copy.json
scripts/
benchmark/convert.py
locomo_checkpoint_final_20251205_192835.json
